In [2]:
import pandas as pd

df = pd.DataFrame(
    {"col1": [1, 2, 3], "col2": [4, 5, 6]}
)

In [3]:
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [4]:
df?

Type:        DataFrame
String form:
   col1  col2
0     1     4
1     2     5
2     3     6
Length:      3
File:        /opt/homebrew/lib/python3.10/site-packages/pandas/core/frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3

In [7]:
a = 10

a?

Type:        int
String form: 10
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [13]:
df.head?

Signature: df.head(n: 'int' = 5) -> 'Self'
Docstring:
Return the first `n` rows.

This function returns the first `n` rows for the object based
on position. It is useful for quickly testing if your object
has the right type of data in it.

For negative values of `n`, this function returns all rows except
the last `|n|` rows, equivalent to ``df[:n]``.

If n is larger than the number of rows, this function returns all rows.

Parameters
----------
n : int, default 5
    Number of rows to select.

Returns
-------
same type as caller
    The first `n` rows of the caller object.

See Also
--------
DataFrame.tail: Returns the last `n` rows.

Examples
--------
>>> df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
>>> df
      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
6      shark
7      whale
8      zebra

Viewing the first 5 lines

>>> df.head()
      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey

Viewing the first `n` lines (three in this case)

>>> df.head(3)
      animal
0  alligator
1        bee
2     falcon

For negative values of `n`

>>> df.head(-3)
      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
File:      /opt/homebrew/lib/python3.10/site-packages/pandas/core/generic.py
Type:      method

In [14]:
def add_numbers(x, y):
    """
    Adds two numbers and returns the result.

    Parameters:
    x (int): The first number.
    y (int): The second number.
    """
    return x + y

In [15]:
add_numbers?

Signature: add_numbers(x, y)
Docstring:
Adds two numbers and returns the result.

Parameters:
x (int): The first number.
y (int): The second number.
File:      /var/folders/x2/vfdtt06j6r98g9879b0t0ngm0000gn/T/ipykernel_57971/4265872085.py
Type:      function

In [16]:
import numpy as np
np.*load*?

np.__loader__
np.load
np.loadtxt

In [18]:
pd.*ame*?

pd.DataFrame
pd.NamedAgg
pd.__name__

In [23]:
df.*__di*?

df.__dict__
df.__dir__
df.__divmod__

In [24]:
isinstance(df, pd.DataFrame)

True

In [25]:
isinstance(a, int)

True

In [26]:
isinstance(a, (int, float, str))

True

In [38]:
c = 'elvin'
getattr(c, 'split')

In [6]:
iter(5)

TypeError: 'int' object is not iterable

In [7]:
iter([1, 2, 3])

In [16]:
for m in range(1_0):
    print(m)

0
1
2
3
4
5
6
7
8
9

In [18]:
tup = 1,2,3

tup

(1, 2, 3)

In [19]:
tup = 1, [2, 3, 4], 'a'
tup

(1, [2, 3, 4], 'a')

In [20]:
tup[1].append(5)
tup

(1, [2, 3, 4, 5], 'a')

In [21]:
# swap in tuple
a, b = 1, 2
b, a = a, b
a, b

(2, 1)

In [27]:
tup = (1, 2, 3, 4, 5)
a, b, *_ = tup
a, b, _

(1, 2, [3, 4, 5])

In [31]:
lis = [1, 2, 3, 4, 5]
lis[1:2] = [9, 8, 7, 6]
lis

[1, 9, 8, 7, 6, 3, 4, 5]

In [34]:
strings = ["bar", "foo", "aaa", "card"]

strings.sort(key=lambda x: len(set(x)))
strings

['aaa', 'foo', 'bar', 'card']

In [38]:
def squares(n=10):
    for i in range(10):
        yield i**2

gen = squares()

for m in gen:
    print(m, end=", ")

0, 1, 4, 9, 16, 25, 36, 49, 64, 81,

In [40]:
sum(x ** 2 for x in range(10))

285

In [23]:
file = open("text.txt", encoding="utf-8")
lines = [x.rstrip() for x in file]
print(lines)
file.close()

['hello world', 'today', 'i will', 'talk about', 'analytics engineering']

In [25]:
with open("text.txt") as file:
    lines = [x.rstrip() for x in file]
print(lines)

['hello world', 'today', 'i will', 'talk about', 'analytics engineering']

In [ ]:
with open("text.txt") as file:
    lines = [x.rstrip() for x in file]
print(lines)